<section>
    <h1 class="h1">Konfiguration</h1>

    <p>Hier kannst du deine Einstellungen f&uuml;r das Spiel vornehmen. Die Einstellungen werden momentan noch nicht gespeichert. &Auml;xg&uuml;si!</p>

    <!--
    <section class="play-navigation">
<button class="button-primary" ng-click="">Login</button>
</section>
-->
    <form>
        <tense-list title="'Tenses'" values="allTenses"></tense-list>
        <person-list title="'Persons'" values="allPersons"></person-list>

        <p></p>
        <div class="row">
            <div class="six columns">
                <label for="cardAction">Card Click Action</label>
                <select class="u-full-width" id="uiLanguage">
                    <option value="Option 1">None (flip card)</option>
                    <option value="Option 2">Redraw</option>
                    <option value="Option 3">Next verb</option>
                </select>
            </div>
            <div class="six columns">
                <label for="uiLanguage">UI Language</label>
                <select class="u-full-width" id="uiLanguage" ng-model="language" ng-change="changeLanguage()">
                    <option value="de">Deutsch</option>
                    <option value="en">English</option>
                    <option value="es">Español</option>
                </select>
            </div>
        </div>
        <!--        <input class="button-primary" type="submit" value="Submit">-->
    </form>
</section>