<section>
    <h1 class="h1">Konfiguration</h1>

    <p>Hier kannst du deine Einstellungen f&uuml;r das Spiel vornehmen. Die Einstellungen werden momentan noch nicht gespeichert. &Auml;xg&uuml;si!</p>

    <form>
        <tense-list title="'Tenses'" values="allTenses"></tense-list>
        <person-list title="'Persons'" values="allPersons"></person-list>

        <p></p>
        <div class="row">
            <div class="six columns">
                <label for="cardAction">Card Click Action</label>
                <select class="u-full-width" id="cardAction" ng-model="actionData.selected" ng-change="changeAction()">
                    <option ng-repeat="option in actionData.options" value="{{option.key}}">{{option.value.text}}</option>
                </select>
            </div>
            <div class="six columns">
                <label for="uiLanguage">UI Language</label>
                <select class="u-full-width" id="uiLanguage" ng-model="languageData.selected" ng-change="changeLanguage()">
                    <option ng-repeat="option in languageData.options" value="{{option.key}}">{{option.value.text}}</option>
                </select>
            </div>
        </div>
    </form>
</section>