    /* app css stylesheet */
    /* Main navigation (from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    nav {
        text-align: center;
        float: right;
        padding-bottom: 3rem;
    }
    
    .container {
        /* clear the content after the right-floating navigation */
        clear: both;
    }
    
    nav ul ul {
        /* change from 'none' to 'block' to debug all elements of the navigation! */
        display: none;
    }
    
    nav ul li:hover > ul {
        display: block;
        z-index: 10;
    }
    
    nav ul {
        box-shadow: 0rem 0rem 0.9rem rgba(0, 0, 0, 0.15);
        margin: 0 !important;
        list-style: none;
        position: relative;
        display: inline-table;
    }
    
    nav > ul {
        border-bottom-left-radius: 0.9rem;
    }
    
    nav > ul > li {
        /* only the direct descendants of nav */
        padding-bottom: 2rem;
    }
    
    nav ul:after {
        content: "";
        clear: both;
        display: block;
        margin: 0;
    }
    
    nav ul li {
        float: left;
        margin-bottom: 0;
        background: #fff;
    }
    
    nav ul li:hover {}
    
    nav ul li:hover a {
        color: #000;
    }
    
    nav ul li a {
        display: block;
        padding: 2rem 3rem;
        color: #000;
        text-decoration: none;
    }
    
    nav > ul > li > a {
        /* only top-level */
        padding: 2rem;
    }
    
    nav ul ul {
        padding: 0;
        position: absolute;
        top: 100%;
        left: -100%;
    }
    
    nav ul ul li {
        float: none;
        border-bottom: 1px solid #575f6a;
        position: relative;
    }
    
    nav ul ul li:last-of-type {
        border-bottom: 0px;
    }
    
    nav ul ul li a {}
    
    nav ul ul li a:hover {
        background: #000;
        color: #fff;
    }
    
    nav ul ul ul {
        position: absolute;
        right: 100%;
        left: -100%;
        top: 0;
    }
    /* Navigation of the play mode
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    footer {
        font-size: small;
        padding-top: 3em;
    }
    
    .play-navigation {
        text-align: center;
        padding: 3em 1em;
    }
    /* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    
    .card {
        text-align: center;
        padding: 30px;
        /*    max-width: 600px;*/
        /*    min-height: 200px;*/
        /*    left: 50%;*/
        /*    margin-left: -400px;*/
        /* Half of the width */
    }
    
    .card-top {
        background: #78ada9;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        min-height: 200px;
    }
    
    .card-bottom {
        background: #ad9d78;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        min-height: 200px;
    }
    
    .card-all {
        background: #78ada9;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        min-height: 400px;
    }
    
    .card-verb-hint {
        font-size: smaller;
        color: #8b7e61;
    }
    /* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */