/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

footer {
    font-size: small;
    padding-top: 3em;
}

.card {
    background: #78ada9;
    padding: 30px;
    width: 500px;
    min-height: 200px;
    text-align: center
}

.card-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-bottom {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #ad9d78
}


/*
.ng-hide:not(.ng-hide-animate) {
    display: inherit !important;
    visibility: hidden;
}*/

.play-navigation {
    text-align: center;
    padding: 3em 1em;
}

.verb-hint {
    font-size: smaller;
    color: #8b7e61;
}