<article>
    <section class="card card-top">
        <h1>{{verb.infinitive}}</h1>
        <h4>{{result.tense.name}}<br/>{{result.person.name}}</h4>
    </section>
    <section class="card card-bottom" ng-click="result.show = !result.show">
        <h4>{{result.person.hint}}</h4>
        <p ng-show="!result.show" class="verb-hint">click to show solution</p>
        <h1 ng-repeat="c in verb.conjugations | filter:{tense:result.tense.key, person:result.person.key}:true" ng-show="result.show">{{c.value}}</h1>
    </section>
</article>